<p>A obra <%= @work.name %> chegou no prazo do Habita-se.</p>

<p>
  <b>Previsão Habite-se:</b> <%= I18n.l @work.dwell %><br>
</p>

<p>Para estender a previsão, <%= link_to "clique aqui", edit_work_url(@work) %>.</p>